.Body-container {
  padding-top: 5%;
  height: 100%;
  width: 100%;
  background-color: #EF9EC8;
}

.bodyCentral {
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
}

.Body-container {
  display: flex;
  height: 100vh;
}

.sla {
  height: 30px;
  width: 100%;
  background-color: #EF9EC8;
}

.text {
  width: 70%;
  display: flex;
  padding-top: 3.5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dentro {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bodyCentral {
  width: 25%; 
  border-radius: 15px;
}

.carousel-container {
  position: relative;
  overflow: hidden; 
  width: 100%;
  border-radius: 15px;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out; 
  width: 300%; 
  border-radius: 15px;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  border-radius: 15px;
}


.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #333;
}

.voltaImg{
  height: 100%;
  width: 100%;
}

.escrito {
  font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #fff;
}

.imgCarrossel {
  width: 350px;
  height: 400px;
  border-radius: 15px;
}